* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Baloo;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

ul {
  height: 40px;
  margin-top: 5%;
  display: inline-block;
  /*padding: 40px 15px;*/
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  color: white;
  text-align: center;
}

img {
  margin: 0 auto;
  position: relative;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

.banner-text {
  width: 100%;
  height: 100%;
  position: absolute;
}

.banner-text ul {
  height: 50px;
  float: right;
}

.banner-text ul li {
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
.banner-text h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 3%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

h5 {
  text-align: left;
  color: #fff;
  font-size: 40px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  padding-bottom: 0%;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

.banner-text h3 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-top: 2%;
}

.banner-text p {
  text-align: center;
  color: black;
  padding-top: 1%;
  font-size: 20px;
  margin-top: 0%;
}
.banner-text h4 {
  text-align: center;
  color: black;
  padding-top: 1%;
  margin-top: 0%;
  font-size: 30px;
  margin-top: 0%;
}

body {
  font-family: Arial, sans-serif;
  background: gray;
  color: white;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;

  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.slide {
  display: none;
  position: relative;
  object-fit: cover;
}

.slide img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.caption {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 3%;
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 6px;
  font-weight: bold;
  font-size: xx-large;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 24%;
  width: 70%;
  padding: 30px;
  justify-content: center;
  margin: auto;
  margin-bottom: 10%;
  background: grey;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 24%;
  width: 70%;
  padding: 30px;
  justify-content: center;
  margin: auto;
  margin-bottom: 5%;
  background: grey;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
