body{
	margin: 0;
	padding: 0;
/*background-image: linear-gradient(60deg,#ef9c82,#6d197b,#09155d);*/
}

.bg_container{
	background-color: #fff;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg,#ef9c82,violet,gold,darkred,cyan);
	background-size: 600% 600%;
	animation: bgAnimatedGradient 15s infinite linear;
}
h1{
	text-align: center;
	padding-top: 7%;
	font-family: Roboto;
	letter-spacing: 7px;
	font-size: 60px;
	font-style: italic;
	font-style: bold;
	color: white;
}

h2{
	text-align: center;
	padding-top: 2%;
	font-family: sans-serif;
	letter-spacing: 6px;
	font-size: 40px;
	font-style: italic;
	color: white;
}

p{
	text-align: center;
	padding-top: 3%;
	font-size: 50px;
	font-family: Roboto;
	color: black;
}
h3{
	text-align: center;
	padding-top: 1%;
	font-size: 20px;
	font-family: Roboto;
	color: green;
}
p{
	text-align: center;
	padding-top: 1%;
	font-size: 15px;
	font-family: Roboto;
color: black;}
img{
	border: 0px solid;
	position:relative;
	display:block:;
	padding-top: 60px;
	padding-left:21%;
}


 ul{
    height: 70px;
	float: right;
	}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#call-btn {
    background-color: #4CAF50; /* Green background */
    color: #FFFFFF; /* White text */
}

#payment-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#pay-btn {
    background-color: #4CAF50; /* Green background */
    color: #FFFFFF; /* White text */
    margin-top: 10px;
}



@keyframes bgAnimatedGradient{
      0%{
		background-position: 0 85%;
	}
     0%{
	    background-position: 0% 85%;
	 }
	 50%{
		 background-position: 100% 20%;
	 }
     100%{
		 background-position: 0% 85%;
	 }
}
